# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\gitRepo\code2021\springboot_security_oauth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
